<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/headerfiles :: headerfiles">
    </th:block>
</head>
<body>
    <div class="container">
        <div th:insert="fragments/navbar :: navbar">

        </div>
        <div th:replace="fragments/moviecarousel :: moviecarousel"/>

        <h2>Movies Playing Now</h2>
        <div class="row movie-list list">
            <div th:each="movie,it : ${playingNowMovies}">
                <div th:replace="fragments/moviethumbnail :: moviethumbnail">
                </div>
            </div>
        </div>

        <h2>Popular Movies</h2>
        <div class="row movie-list list">
            <div th:each="movie,it : ${popularMovies}">
                <div th:replace="fragments/moviethumbnail :: moviethumbnail">
                </div>
            </div>
        </div>

        <h2>Top Rated Movies</h2>
        <div class="row movie-list list">
            <div th:each="movie,it : ${topRatedMovies}">
                <div th:replace="fragments/moviethumbnail :: moviethumbnail">
                </div>
            </div>
        </div>

        <h2>Upcoming Movies</h2>
        <div class="row movie-list list">
            <div th:each="movie,it : ${upcomingMovies}">
                <div th:replace="fragments/moviethumbnail :: moviethumbnail">
                </div>
            </div>
        </div>
    </div>
</body>